
/****tentative color theme*****//*

deep blue #14268F
light blue #5770FF
mid blue #354EDB
deep gold #8F6F06
bright gold #DBB435
*/

.gradient-bg {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(/image/balance.png);
  position: relative;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,.2);
  height: 100vh;
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}

body {
  background-color: black;
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  min-height: 100rem;
}

.sitefooter {
    background-color: rgba(0,0,0,.9);
    padding: 20px 0;
}

.card-image {
  object-fit: cover;
  object-position: center;
}
.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-display {
  height: 70vh;
}
.movevoteup {
  margin-top: -10%;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

